#sketchpad {
    margin: auto;
    width: 720px;
    height: 720px;
}

.square {
    float: left;
    background-color: #DEDEDE;
    outline: black solid 1px;
}

.square-normal {
    background-color: blue;
}

.menu {
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.menu-group {
    float: left;
}

button{
    position: relative;
}